Repository transmission/transmission, pull requests merged in 2022-05, with the labels that each got.

#3036 fixup: fix fd regression in tr_open_files
  libtransmission/open-files.h
  libtransmission/torrent.cc
Labels: scope:core, type:fixup

#3021 deps: update miniupnp to 2.3.0 - Fix building miniupnp from Xcode
  Transmission.xcodeproj/project.pbxproj
Labels: scope:3rdparty, dependencies

#3053 Fix retrieving groups with predicates
  macosx/GroupsController.mm
Labels: scope:mac, type:fixup

#3057 Rename "Remove Data File" to "Trash Data File"
  macosx/en.lproj/MainMenu.xib
  macosx/fr.lproj/MainMenu.xib
Labels: scope:mac, i18n

#3072 Add ⌘C support
  macosx/TorrentTableView.mm
Labels: enhancement, scope:mac

#3065 Updating group icon style for newer macOS
  macosx/GroupsController.mm
Labels: enhancement, scope:mac

#3056 Fix Display window option incorrectly enabled on start
  macosx/PrefsController.mm
Labels: scope:mac, type:fix

#3059 Address format conversion warnings in localizations
  libtransmission/announcer.cc
  libtransmission/blocklist.cc
  libtransmission/blocklist.h
  libtransmission/session.cc
  libtransmission/transmission.h
  macosx/AddWindowController.mm
  macosx/Controller.mm
  macosx/CreatorWindowController.mm
  macosx/DragOverlayWindow.mm
  macosx/FilterButton.mm
  macosx/InfoOptionsViewController.mm
  macosx/InfoPeersViewController.mm
  macosx/InfoTrackersViewController.mm
  macosx/InfoWindowController.mm
  macosx/PrefsController.mm
  macosx/QuickLookPlugin/GeneratePreviewForURL.mm
  macosx/QuickLookPlugin/da.lproj/Localizable.strings
  macosx/QuickLookPlugin/de.lproj/Localizable.strings
  macosx/QuickLookPlugin/en.lproj/Localizable.strings
  macosx/QuickLookPlugin/es.lproj/Localizable.strings
  macosx/QuickLookPlugin/fr.lproj/Localizable.strings
  macosx/QuickLookPlugin/it.lproj/Localizable.strings
  macosx/QuickLookPlugin/nl.lproj/Localizable.strings
  macosx/QuickLookPlugin/pt_PT.lproj/Localizable.strings
  macosx/QuickLookPlugin/ru.lproj/Localizable.strings
  macosx/QuickLookPlugin/tr.lproj/Localizable.strings
  macosx/StatsWindowController.mm
  macosx/StatusBarController.mm
  macosx/Torrent.h
  macosx/Torrent.mm
  macosx/TorrentTableView.mm
  macosx/TrackerNode.h
  macosx/TrackerNode.mm
  macosx/da.lproj/Localizable.strings
  macosx/de.lproj/Localizable.strings
  macosx/en.lproj/Localizable.strings
  macosx/es.lproj/Localizable.strings
  macosx/fr.lproj/Localizable.strings
  macosx/it.lproj/Localizable.strings
  macosx/nl.lproj/Localizable.strings
  macosx/pt_PT.lproj/Localizable.strings
  macosx/ru.lproj/Localizable.strings
  macosx/tr.lproj/Localizable.strings
Labels: scope:mac, i18n

#874 macOS: disable App Nap. Fixes #577
  macosx/Controller.mm
Labels: scope:mac, needs update, type:fix

#3042 Fix "The left operand of '<' is a garbage value"
  macosx/TorrentCell.mm
Labels: scope:mac

#3031 'beginSheet:modalForWindow:modalDelegate:didEndSelector:contextInfo:' is deprecated:
  macosx/FileRenameSheetController.mm
Labels: scope:mac

#3003 refactor: move tr_torrent callbacks to tr_session
  gtk/Session.cc
  libtransmission/peer-mgr.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  libtransmission/torrent.h
  libtransmission/transmission.h
  macosx/Torrent.mm
  tests/libtransmission/move-test.cc
Labels: scope:gtk, scope:mac, scope:core, type:refactor

#3084 chore: remove unused header fdlimit.h
  libtransmission/fdlimit.h
  libtransmission/rpc-server.cc
  libtransmission/rpcimpl.cc
  libtransmission/session.cc
Labels: scope:core, type:build

#3079 fix for macOS "Stay within the global bandwidth limits" always displaying true
  macosx/Torrent.mm
Labels: scope:mac, type:fix

#3051 Rename sortTorrentsAndIncludeQueueOrder and nonEmptyComponentsSeparatedByCharactersInSet
  macosx/Controller.h
  macosx/Controller.mm
  macosx/FileOutlineController.mm
  macosx/FilterBarController.mm
  macosx/NSStringAdditions.h
  macosx/NSStringAdditions.mm
Labels: scope:mac, type:refactor

#3025 Add "Verify Local Data" to context menu
  macosx/da.lproj/MainMenu.xib
  macosx/de.lproj/MainMenu.xib
  macosx/en.lproj/MainMenu.xib
  macosx/es.lproj/MainMenu.xib
  macosx/fr.lproj/MainMenu.xib
  macosx/it.lproj/MainMenu.xib
  macosx/nl.lproj/MainMenu.xib
  macosx/pt_PT.lproj/MainMenu.xib
  macosx/ru.lproj/MainMenu.xib
  macosx/tr.lproj/MainMenu.xib
Labels: scope:mac, feature disparity, type:feat

#2010 Modernize blocklist.cc: Rename, move members inside struct
  libtransmission/blocklist.cc
  libtransmission/blocklist.h
  libtransmission/rpcimpl.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/transmission.h
Labels: scope:core, type:refactor

#3095 deps: update web client build deps
  web/assets/css/transmission-app.scss
  web/assets/img/README.md
  web/assets/img/analytics.svg
  web/assets/img/application-x-executable.png
  web/assets/img/audio-x-generic.png
  web/assets/img/blue-turtle.png
  web/assets/img/checkered-flag.svg
  web/assets/img/chevron-down.svg
  web/assets/img/chevron-up.svg
  web/assets/img/diagram-3-fill.svg
  web/assets/img/files.svg
  web/assets/img/folder.png
  web/assets/img/font-x-generic.png
  web/assets/img/gear-fill.svg
  web/assets/img/horizontal-rule.svg
  web/assets/img/image-x-generic.png
  web/assets/img/lock-fill.svg
  web/assets/img/logo.png
  web/assets/img/magnet.svg
  web/assets/img/package-x-generic.png
  web/assets/img/pause-circle-active.svg
  web/assets/img/pause-circle-idle.svg
  web/assets/img/play-circle-active.svg
  web/assets/img/play-circle-idle.svg
  web/assets/img/router.svg
  web/assets/img/search.svg
  web/assets/img/team.svg
  web/assets/img/text-x-generic.png
  web/assets/img/three-dots-vertical.svg
  web/assets/img/toolbar-close.png
  web/assets/img/toolbar-folder.png
  web/assets/img/toolbar-info.png
  web/assets/img/toolbar-pause.png
  web/assets/img/toolbar-start.png
  web/assets/img/turtle.png
  web/assets/img/up-and-down-arrows.svg
  web/assets/img/video-x-generic.png
  web/package.json
  web/public_html/transmission-app.js
  web/src/main.js
  web/src/notifications.js
  web/src/prefs-dialog.js
  web/src/transmission.js
  web/stylelint.config.js
  web/webpack.config.js
  web/yarn.lock
Labels: scope:web, dependencies

#3096 fixup! refactor: use smaller integral types in some structs (#3005)
  gtk/FileList.cc
Labels: scope:gtk, type:fixup

#3086 refactor copyMagnetLinks
  macosx/Controller.mm
  macosx/TorrentTableView.h
Labels: scope:mac, type:refactor

#3104 Revert "refactor: move tr_torrent callbacks to tr_session (#3003)"
  gtk/Session.cc
  libtransmission/peer-mgr.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  libtransmission/torrent.h
  libtransmission/transmission.h
  macosx/Torrent.mm
  tests/libtransmission/move-test.cc
Labels: scope:mac, type:fixup

#3087 support pasting multiple magnet links
  macosx/TorrentTableView.mm
Labels: enhancement, scope:mac

#3001 Fix QuickLook
  Transmission.xcodeproj/project.pbxproj
  libtransmission/torrent-files.h
  libtransmission/torrent.cc
  macosx/NSStringAdditions.mm
  macosx/QuickLookPlugin/CMakeLists.txt
  macosx/QuickLookPlugin/GeneratePreviewForURL.mm
  macosx/QuickLookPlugin/GenerateThumbnailForURL.mm
  macosx/QuickLookPlugin/QuickLookPlugin-Prefix.pch
  macosx/QuickLookPlugin/main.cc
Labels: scope:mac, type:fixup

#2990 perf: tr_sys_path_dirname() returns a std::string_view
  libtransmission/file-posix.cc
  libtransmission/file-win32.cc
  libtransmission/file.h
  libtransmission/open-files.cc
  libtransmission/utils.cc
  tests/libtransmission/file-test.cc
  tests/libtransmission/remove-test.cc
  tests/libtransmission/rename-test.cc
  tests/libtransmission/subprocess-test.cc
  tests/libtransmission/test-fixtures.h
Labels: scope:core, type:perf

#3118 refactor: add pathbuf and std::string-friendly helpers to tr_sys file and path funcs
  cli/cli.cc
  daemon/daemon.cc
  gtk/OptionsDialog.cc
  libtransmission/file.h
  libtransmission/makemeta.cc
  libtransmission/open-files.cc
  libtransmission/platform.cc
  libtransmission/session-id.cc
  libtransmission/torrent-metainfo.cc
  libtransmission/torrent.cc
  libtransmission/tr-strbuf.h
  libtransmission/utils.cc
  tests/libtransmission/blocklist-test.cc
  tests/libtransmission/file-test.cc
  tests/libtransmission/remove-test.cc
  tests/libtransmission/rename-test.cc
  tests/libtransmission/test-fixtures.h
  tests/libtransmission/torrent-metainfo-test.cc
  tests/libtransmission/utils-test.cc
  tests/libtransmission/watchdir-test.cc
Labels: scope:core, type:refactor

#3123 fix: compiler warnings
  libtransmission/bitfield.cc
  libtransmission/blocklist.cc
  libtransmission/blocklist.h
  libtransmission/rpc-server.cc
  qt/DetailsDialog.cc
  qt/MainWindow.cc
  tests/libtransmission/blocklist-test.cc
Labels: scope:qt, scope:core, type:fixup

#3124 Show torrent added date/time in details dialog (GTK).
  gtk/DetailsDialog.cc
Labels: enhancement, scope:gtk, feature disparity

#3126 perf: faster detection of invalid filenames
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/file-info.cc
  libtransmission/file-info.h
  libtransmission/makemeta.cc
  libtransmission/torrent-files.cc
  libtransmission/torrent-files.h
  libtransmission/torrent-metainfo.cc
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/torrent-files-test.cc
Labels: scope:core, type:refactor

#2542 perf: saxlike benc pt 6 use benc handler in torrent metainfo
  libtransmission/benc.h
  libtransmission/file.h
  libtransmission/magnet-metainfo.cc
  libtransmission/magnet-metainfo.h
  libtransmission/torrent-files.h
  libtransmission/torrent-metainfo.cc
  libtransmission/torrent-metainfo.h
  libtransmission/utils.cc
  libtransmission/web-utils.cc
  tests/libtransmission/assets/webseed-getright-list.torrent
  tests/libtransmission/assets/webseed-getright-string.torrent
  tests/libtransmission/file-test.cc
  tests/libtransmission/torrent-metainfo-test.cc
  tests/utils/CMakeLists.txt
  tests/utils/assets/bittorrent-v2-test.show
  tests/utils/assets/bittorrent-v2-test.torrent
  tests/utils/run_transmission_show.cmake
  utils/show.cc
Labels: scope:core, type:refactor, type:perf

#2874 add magnet link support to transmission web
  web/assets/css/transmission-app.scss
  web/src/open-dialog.js
  web/src/prefs-dialog.js
  web/src/transmission.js
Labels: scope:web, feature disparity

#3137 fix: ESPIPE "illegal seek" error while seeding
  libtransmission/net.cc
  libtransmission/peer-socket.h
  libtransmission/session.h
  libtransmission/tr-lpd.cc
  libtransmission/tr-udp.cc
Labels: scope:core, type:fixup

#3140 refactor: prefer std::vector over raw array in torrentGet()
  libtransmission/rpcimpl.cc
Labels: scope:core, type:refactor

#3141 refactor: make tr_peerIoGetAddress() a member function
  libtransmission/bandwidth.cc
  libtransmission/handshake.cc
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-mgr.h
  libtransmission/peer-msgs.cc
Labels: scope:core, type:refactor

#3142 refactor: tr_peerMgrGetPeers() returns a vector
  libtransmission/announcer.cc
  libtransmission/makemeta.cc
  libtransmission/net.cc
  libtransmission/peer-mgr.cc
  libtransmission/peer-mgr.h
  libtransmission/peer-msgs.cc
  libtransmission/resume.cc
  libtransmission/torrent-files.cc
Labels: scope:core, type:refactor

#3147 refactor: struct peer_atom
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3149 refactor: use std::vector instead of tr_ptrArray in peer-mgr
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/ptrarray.cc
  libtransmission/ptrarray.h
Labels: scope:core, type:refactor

#3159 refactor: simplify atom pruning
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3160 perf: avoid some unnecessary psl domain strdups
  libtransmission/web-utils.cc
Labels: scope:core, type:perf

#3161 perf: use std::string_view for compile-time UserAgent
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/web.h
Labels: scope:core, type:perf

#3165 perf: avoid std::string temporaries in sessionLoadTorrent()
  libtransmission/session.cc
  libtransmission/torrent-ctor.cc
  libtransmission/torrent.h
Labels: scope:core, type:perf

#3168 fix: coverity warnings
  gtk/FaviconCache.cc
  libtransmission/handshake.cc
  libtransmission/peer-mgr.cc
  tests/libtransmission/open-files-test.cc
Labels: scope:gtk, scope:core, type:fix
