Repository transmission/transmission, pull requests merged in 2022-06, with the labels that each got.

#3125 Filtering torrents in transmission-remote
  utils/remote.cc
  utils/transmission-remote.1
Labels: enhancement, scope:remote, needs update

#3145 feature: add piece size selection on torrent creation (GTK)
  gtk/MakeDialog.cc
Labels: enhancement, scope:gtk, feature disparity

#3173 fix: 'unexpected filehash' warning
  libtransmission/torrent-metainfo.cc
Labels: scope:core, type:fix

#3174 Silence Xcode warnings
  libtransmission/variant-json.cc
  macosx/PrefsController.mm
  macosx/StatsWindowController.mm
Labels: scope:mac, type:refactor

#3175 refactor: add tr_peerMsgs.networkSocket()
  libtransmission/peer-common.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-mgr.h
  libtransmission/peer-msgs.cc
  libtransmission/peer-msgs.h
  libtransmission/webseed.cc
Labels: scope:core, type:refactor

#3177 refactor: remove peer_atom.peer field
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3182 fix: do not crash when pruning idle peer atoms
  libtransmission/peer-mgr.cc
Labels: scope:core, type:fixup

#3187 refactor: remove peer_atom.shelfDate()
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3050 Make Sparkle optional to allow running Transmission without Apple Developer Program
  Transmission.xcodeproj/project.pbxproj
  macosx/SparkleProxy.mm
Labels: scope:mac

#3192 refactor: do not prune peer atoms
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3193 fixup! fix: coverity warnings (#3168)
  gtk/FaviconCache.cc
Labels: scope:gtk, type:fixup

#3197 Fix: "Cannot begin activity without reason string or empty reason string"
  macosx/Controller.mm
Labels: scope:mac, type:fixup

#3200 fix: duplicate template instantiation on raspberry pi armv7
  libtransmission/session.cc
  libtransmission/utils.cc
Labels: scope:core, type:fixup

#3201 daemon: deprecated --log-error -> --log-level=error
  daemon/transmission-daemon.service
Labels: scope:daemon, type:fixup

#3207 Move function declaration to scoped area
  libtransmission/tr-strbuf.h
Labels: scope:core, type:refactor

#3208 fix: missing source file in CMake macOS build
  Transmission.xcodeproj/project.pbxproj
  macosx/CMakeLists.txt
  macosx/MainWindow.mm
Labels: scope:mac, type:fixup

#3209 docs: fix documented type of rpc-version-semver
  docs/rpc-spec.md
Labels: scope:docs, type:fix

#3221 replace macOS encrypted image on macOS 11+
  macosx/InfoPeersViewController.mm
Labels: enhancement, scope:mac

#3222 fix: macOS build warning "cannot find protocol definition for 'PortCheckerDelegate'"
  macosx/AddMagnetWindowController.mm
  macosx/Controller.mm
  macosx/FileOutlineController.mm
  macosx/FilePriorityCell.mm
  macosx/PrefsController.h
Labels: scope:mac, type:refactor

#3233 build: remove unused function checks
  CMakeLists.txt
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac, scope:core, type:build

#3220 macOS remove FullScreen support
  macosx/AddMagnetWindowController.mm
  macosx/AddWindowController.mm
  macosx/Controller.mm
  macosx/CreatorWindowController.mm
  macosx/MainWindow.h
  macosx/MainWindow.mm
  macosx/MessageWindowController.mm
Labels: scope:mac, type:feat

#3224 refactor: autogenerate the macOS client's Message Log dots
  macosx/CMakeLists.txt
  macosx/Controller.mm
  macosx/CreatorWindowController.mm
  macosx/FileOutlineController.mm
  macosx/FilterBarView.mm
  macosx/GroupsController.mm
  macosx/GroupsPrefsController.mm
  macosx/Images/Images.xcassets/BlueDotFlat.imageset/BlueDotFlat.png
  macosx/Images/Images.xcassets/BlueDotFlat.imageset/BlueDotFlat@2x.png
  macosx/Images/Images.xcassets/BlueDotFlat.imageset/Contents.json
  macosx/Images/Images.xcassets/GreenDotFlat.imageset/Contents.json
  macosx/Images/Images.xcassets/GreenDotFlat.imageset/GreenDotFlat.png
  macosx/Images/Images.xcassets/GreenDotFlat.imageset/GreenDotFlat@2x.png
  macosx/Images/Images.xcassets/OrangeDotFlat.imageset/Contents.json
  macosx/Images/Images.xcassets/OrangeDotFlat.imageset/OrangeDotFlat.png
  macosx/Images/Images.xcassets/OrangeDotFlat.imageset/OrangeDotFlat@2x.png
  macosx/Images/Images.xcassets/PurpleDotFlat.imageset/Contents.json
  macosx/Images/Images.xcassets/PurpleDotFlat.imageset/PurpleDotFlat.png
  macosx/Images/Images.xcassets/PurpleDotFlat.imageset/PurpleDotFlat@2x.png
  macosx/Images/Images.xcassets/RedDotFlat.imageset/Contents.json
  macosx/Images/Images.xcassets/RedDotFlat.imageset/RedDotFlat.png
  macosx/Images/Images.xcassets/RedDotFlat.imageset/RedDotFlat@2x.png
  macosx/Images/Images.xcassets/YellowDotFlat.imageset/Contents.json
  macosx/Images/Images.xcassets/YellowDotFlat.imageset/YellowDotFlat.png
  macosx/Images/Images.xcassets/YellowDotFlat.imageset/YellowDotFlat@2x.png
  macosx/InfoActivityViewController.mm
  macosx/InfoPeersViewController.mm
  macosx/InfoTrackersViewController.mm
  macosx/InfoWindowController.mm
  macosx/MessageWindow.xib
  macosx/MessageWindowController.mm
  macosx/NSApplicationAdditions.h
  macosx/NSApplicationAdditions.mm
  macosx/NSImageAdditions.h
  macosx/NSImageAdditions.mm
  macosx/PrefsController.mm
  macosx/ShareToolbarItem.mm
  macosx/StatsWindowController.mm
  macosx/StatusBarView.mm
  macosx/Torrent.mm
  macosx/TorrentTableView.mm
  macosx/TrackerNode.mm
Labels: scope:mac, type:refactor

#3236 fix: too-small scrape request packets may trip SYN flood detection
  libtransmission/announcer-http.cc
Labels: scope:core, type:fix

#3237 docs: un-deprecate trackerAdd RPC
  docs/rpc-spec.md
Labels: scope:docs

#3251 fix: deadlock between session and web mutexes
  libtransmission/web.cc
Labels: scope:core, type:fixup

#3252 feat: add rpc torrentGet.availability
  docs/rpc-spec.md
  libtransmission/peer-mgr.cc
  libtransmission/peer-mgr.h
  libtransmission/quark.cc
  libtransmission/quark.h
  libtransmission/rpcimpl.cc
Labels: scope:core, type:feat

#3257 fix: clang-15 warnings
  libtransmission/inout.cc
  libtransmission/magnet-metainfo.cc
  libtransmission/peer-mgr.cc
Labels: scope:core, type:fix

#3260 build: add sanitizer CI runs when libtransmission-test changes
  .github/workflows/sanitizer-clang.yml
  .github/workflows/sanitizer-gcc.yml
Labels: type:build

#3262 refactor: remove unused tr_ptrArray class
  .github/workflows/sanitizer-clang.yml
  .github/workflows/sanitizer-gcc.yml
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/ptrarray.cc
  libtransmission/ptrarray.h
  tests/libtransmission/utils-test.cc
Labels: scope:core, type:refactor

#3178 Replace gear icon with ellipsis in macOS client
  macosx/CMakeLists.txt
  macosx/Images/Images.xcassets/EllipsisTemplate.imageset/Contents.json
  macosx/Images/Images.xcassets/EllipsisTemplate.imageset/EllipsisTemplate.png
  macosx/Images/Images.xcassets/EllipsisTemplate.imageset/EllipsisTemplate@2x.png
  macosx/da.lproj/MainMenu.xib
  macosx/de.lproj/MainMenu.xib
  macosx/en.lproj/MainMenu.xib
  macosx/es.lproj/MainMenu.xib
  macosx/fr.lproj/MainMenu.xib
  macosx/it.lproj/MainMenu.xib
  macosx/nl.lproj/MainMenu.xib
  macosx/pt_PT.lproj/MainMenu.xib
  macosx/ru.lproj/MainMenu.xib
  macosx/tr.lproj/MainMenu.xib
Labels: enhancement, scope:mac, needs UI review

#3268 replace macOS Groups indicators with dots
  macosx/TorrentCell.mm
Labels: enhancement, scope:mac, type:ui

#3276 refactor: make accessor functions constexpr
  qt/FileTreeItem.h
  qt/Filters.h
  qt/IconCache.h
  qt/MainWindow.h
  qt/Prefs.h
  qt/RpcQueue.h
  qt/Session.h
  qt/Speed.h
  qt/Torrent.h
  qt/TrackerModelFilter.h
Labels: scope:qt, type:refactor

#3278 macOS - fix some window drawing issues
  macosx/Controller.mm
  macosx/ControllerWindowMethods.h
  macosx/ControllerWindowMethods.mm
Labels: scope:mac, type:fix, type:ui

#3264 [macOS] Fix global popover clipping.
  macosx/Controller.h
  macosx/Controller.mm
Labels: scope:mac, needs update, type:fix, type:ui

#3291 [macOS] Update Preferences window sizing for Russian locale.
  macosx/ru.lproj/PrefsWindow.xib
Labels: scope:mac, type:fix, type:ui

#3290 [macOS] Fix assert on save for WARN and TRACE log levels in Log window.
  macosx/MessageWindowController.mm
  macosx/en.lproj/Localizable.strings
Labels: scope:mac, type:fixup

#3289 [macOS] Fix Group auto-assigning based on NSPredicate
  macosx/GroupsController.mm
  macosx/Torrent.mm
  macosx/da.lproj/GroupRules.xib
  macosx/de.lproj/GroupRules.xib
  macosx/en.lproj/GroupRules.xib
  macosx/es.lproj/GroupRules.xib
  macosx/fr.lproj/GroupRules.xib
  macosx/it.lproj/GroupRules.xib
  macosx/nl.lproj/GroupRules.xib
  macosx/pt_PT.lproj/GroupRules.xib
  macosx/ru.lproj/GroupRules.xib
  macosx/tr.lproj/GroupRules.xib
Labels: scope:mac, type:fixup

#3296 build: migrate some Sanity CI to GitHub Actions
  .github/workflows/actions.yml
  .github/workflows/code-style.yml
  .github/workflows/sanitizer-clang.yml
  .github/workflows/sanitizer-gcc.yml
Labels: scope:infra

#3245 fix: add i18n options for past tense, future tense time
  gtk/DetailsDialog.cc
  gtk/StatsDialog.cc
  gtk/TorrentCellRenderer.cc
  gtk/Utils.cc
  gtk/Utils.h
Labels: scope:gtk, i18n, type:fixup

#3301 macOS remove GearshapeTemplate from CMakeLists.txt
  macosx/CMakeLists.txt
Labels: scope:mac, type:build

#3300 build: add alpine/musl to github actions sanity
  .github/workflows/actions.yml
Labels: type:build

#3294 [macOS] Hide NSPopover Arrow for Torrent options.
  macosx/TorrentTableView.mm
Labels: scope:mac, type:fix

#3306 refactor: make tr_sessionGetEncryption() const
  libtransmission/rpcimpl.cc
  libtransmission/session.cc
  libtransmission/transmission.h
Labels: scope:core, type:refactor

#3303 macOS remove NSWindow subclass
  Transmission.xcodeproj/project.pbxproj
  macosx/CMakeLists.txt
  macosx/Controller.h
  macosx/Controller.mm
  macosx/MainWindow.h
  macosx/MainWindow.mm
  macosx/da.lproj/MainMenu.xib
  macosx/de.lproj/MainMenu.xib
  macosx/en.lproj/MainMenu.xib
  macosx/es.lproj/MainMenu.xib
  macosx/fr.lproj/MainMenu.xib
  macosx/it.lproj/MainMenu.xib
  macosx/nl.lproj/MainMenu.xib
  macosx/pt_PT.lproj/MainMenu.xib
  macosx/ru.lproj/MainMenu.xib
  macosx/tr.lproj/MainMenu.xib
Labels: scope:mac, type:fix, needs UI review

#3304 macOS revert fullscreen changes
  Transmission.xcodeproj/project.pbxproj
  macosx/AddMagnetWindowController.mm
  macosx/AddWindowController.mm
  macosx/CMakeLists.txt
  macosx/Controller.h
  macosx/Controller.mm
  macosx/ControllerWindowMethods.h
  macosx/ControllerWindowMethods.mm
  macosx/CreatorWindowController.mm
  macosx/MessageWindowController.mm
  macosx/PrefsController.mm
  macosx/StatsWindowController.mm
Labels: scope:mac, needs update, type:fixup, needs UI review

#3305 macOS add full screen support
  macosx/Controller.h
  macosx/Controller.mm
  macosx/DragOverlayWindow.mm
  macosx/FilterBar.xib
  macosx/FilterBarController.mm
  macosx/StatusBar.xib
  macosx/da.lproj/MainMenu.xib
  macosx/de.lproj/MainMenu.xib
  macosx/en.lproj/MainMenu.xib
  macosx/es.lproj/MainMenu.xib
  macosx/fr.lproj/MainMenu.xib
  macosx/it.lproj/MainMenu.xib
  macosx/nl.lproj/MainMenu.xib
  macosx/pt_PT.lproj/MainMenu.xib
  macosx/ru.lproj/MainMenu.xib
  macosx/tr.lproj/MainMenu.xib
Labels: enhancement, scope:mac, needs update, needs UI review, type:ui

#3271 keep labels in order added, rather than alphabetically
  libtransmission/resume.cc
  libtransmission/rpcimpl.cc
  libtransmission/torrent.cc
  libtransmission/torrent.h
Labels: enhancement, scope:core, needs update

#3314 refactor: use tr_torrent_id_t
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/DetailsDialog.h
  gtk/Dialogs.cc
  gtk/Dialogs.h
  gtk/FileList.cc
  gtk/FileList.h
  gtk/Notify.cc
  gtk/Notify.h
  gtk/RelocateDialog.cc
  gtk/RelocateDialog.h
  gtk/Session.cc
  gtk/Session.h
  libtransmission/cache.cc
  libtransmission/inout.cc
  libtransmission/session.cc
  libtransmission/torrent.cc
  libtransmission/torrent.h
  libtransmission/torrents.cc
  libtransmission/torrents.h
  libtransmission/transmission.h
  libtransmission/webseed.cc
  qt/DetailsDialog.cc
  qt/Torrent.h
  qt/Typedefs.h
  tests/libtransmission/torrents-test.cc
Labels: scope:gtk, scope:qt, scope:core, type:refactor

#3316 build: fix sanity GitHub action
  .github/workflows/actions.yml
Labels: type:build

#1661 Implementing latest version of BEP-7 for HTTP requests
  libtransmission/announcer-http.cc
  libtransmission/web.cc
  libtransmission/web.h
Labels: enhancement, scope:core, needs update

#3310 Raise minimum supported target to macOS 10.13 (High Sierra)
  CMakeLists.txt
  Transmission.xcodeproj/project.pbxproj
  macosx/Controller.mm
  macosx/GroupsController.mm
  macosx/GroupsPrefsController.mm
  macosx/MessageWindowController.mm
  macosx/TorrentCell.mm
  macosx/TorrentTableView.mm
Labels: os:mac

#3315 macOS fullscreen and autosize fixes
  macosx/Controller.h
  macosx/Controller.mm
Labels: scope:mac, type:refactor, needs UI review

#3239 Updated icon for ActionHover on MacOS
  macosx/Images/Images.xcassets/ActionHover.imageset/ActionHover.png
  macosx/Images/Images.xcassets/ActionHover.imageset/ActionHover@2x.png
Labels: enhancement, scope:mac

#3324 fix: #3111 stuck at 99 percent
  libtransmission/cache.cc
  libtransmission/cache.h
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-mgr-wishlist.cc
  libtransmission/peer-msgs.cc
  libtransmission/torrent.h
  libtransmission/webseed.cc
  tests/libtransmission/move-test.cc
Labels: scope:core, type:fixup

#3329 Update links in macOS credits
  macosx/Credits.rtf
Labels: scope:mac

#3330 Fix NSAttributedString deprecation
  macosx/AboutWindowController.mm
Labels: scope:mac

#3322 Set torrent file's metainfo for magnets
  libtransmission/torrent-magnet.cc
  libtransmission/torrent-magnet.h
  libtransmission/torrent.cc
  libtransmission/transmission.h
  macosx/Controller.h
  macosx/Controller.mm
Labels: scope:mac, scope:core

#3327 macOS fix Toolbar show/hide on macOS Mojave
  Transmission.xcodeproj/project.pbxproj
  macosx/CMakeLists.txt
  macosx/Controller.h
  macosx/Controller.mm
  macosx/Toolbar.h
  macosx/Toolbar.mm
Labels: scope:mac, type:fixup, needs code review

#3342 macOS remove gradient from PiecesView
  macosx/PiecesView.mm
Labels: scope:mac, type:ui

#3365 fixup! refactor: tr_peerMsgs.percentDone() (#3363)
  libtransmission/peer-msgs.cc
Labels: scope:core, type:fixup

#3366 refactor: make tr_peerMgr.timers private std::unique_ptrs
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3368 refactor: tr_swarm
  libtransmission/peer-common.h
  libtransmission/peer-mgr.cc
  libtransmission/torrent.cc
Labels: scope:core, type:refactor

#3348 Fix: Flexibility of the Encryption column
  macosx/InfoPeersView.xib
Labels: scope:mac, type:ui

#3370 refactor: use namespaces in peer-msgs.cc
  libtransmission/peer-mgr.cc
Labels: scope:core, type:refactor

#3356 macOS use standard toolbar buttons
  macosx/Controller.mm
Labels: scope:mac, type:ui

#3345 macOS fix quicklook toolbar icon status
  macosx/Controller.mm
Labels: scope:mac, type:ui

#3373 refactor: add tr_peer.activeReqCount()
  gtk/DetailsDialog.cc
  libtransmission/bandwidth.h
  libtransmission/peer-common.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/peer-msgs.h
  libtransmission/transmission.h
  libtransmission/webseed.cc
Labels: scope:gtk, scope:core, type:refactor

#3374 build: re-fix the naming of workflow triggers
  .github/workflows/actions.yml
Labels: type:build
