Repository transmission/transmission, pull requests merged in 2022-10, with the labels that each got.

#3855 refactor: add tr_port_forwarding::Mediator
  libtransmission/announcer.cc
  libtransmission/handshake.cc
  libtransmission/handshake.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/port-forwarding.cc
  libtransmission/port-forwarding.h
  libtransmission/rpc-server.cc
  libtransmission/rpc-server.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/tr-dht.cc
  libtransmission/tr-lpd.cc
  libtransmission/tr-lpd.h
  libtransmission/tr-utp.cc
  libtransmission/watchdir-base.h
  libtransmission/watchdir-generic.cc
  libtransmission/watchdir.cc
  libtransmission/watchdir.h
  libtransmission/webseed.cc
  tests/libtransmission/handshake-test.cc
  tests/libtransmission/lpd-test.cc
Labels: scope:core, type:refactor

#3862 Fix/circular dependency in udp core and dht init
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/tr-dht.cc
  libtransmission/tr-dht.h
  libtransmission/tr-udp.cc
Labels: scope:core, type:fixup, bug:regression

#3866 fixup: new dht bootstrap regression
  libtransmission/tr-dht.cc
Labels: scope:core, type:fixup

#3870 refactor: add tr_address::toSockaddr()
  libtransmission/net.cc
  libtransmission/net.h
Labels: scope:core, type:refactor

#3867 build: support semver versioning
  CMakeLists.txt
  cmake/Transmission.rc.in
  dist/msi/CMakeLists.txt
  libtransmission/clients.cc
  libtransmission/version.h.in
  tests/libtransmission/clients-test.cc
  update-version-h.sh
Labels: type:build

#3871 feat: align macOS active filter with other clients
  macosx/Torrent.mm
Labels: scope:mac, feature disparity, type:fix, type:ui

#3874 fix: dht bootstrap regression
  libtransmission/tr-dht.cc
Labels: scope:core, type:fixup

#3872 build: set version to 4.0.0-beta.1
  CMakeLists.txt
  news/news-4.0.0-beta-1.md
Labels: type:build

#3879 chore: bump version to post-4.0.0-beta.1 dev
  CMakeLists.txt
Labels: type:build

#3889 Rollback #3871
  macosx/Torrent.mm
Labels: scope:mac, bug:regression

#3892 Workaround about dialog closure with GTK 3
  gtk/Application.cc
Labels: scope:gtk, type:ui, bug:regression

#3898 Don't show duplicate add/edit tracker error dialogs
  gtk/DetailsDialog.cc
Labels: scope:gtk, type:ui, bug:regression

#3909 remote: fix invalid format string
  utils/remote.cc
Labels: scope:remote, bug:regression

#3812 tests: Fix SubprocessTest on macOS Monterey and later.
  tests/libtransmission/test-fixtures.h
Labels: scope:test

#3918 Support switching between GTK 3 and 4 within the same build directory
  CMakeLists.txt
  gtk/CMakeLists.txt
Labels: scope:gtk, type:fixup

#3921 Add build job based on Fedora 37
  .github/workflows/actions.yml
  gtk/CMakeLists.txt
  qt/CMakeLists.txt
Labels: scope:infra, type:build

#3927 docs: git submodule on building should be recursive
  docs/Building-Transmission.md
Labels: scope:docs

#3924 Sort order by activity is reversed
  macosx/Controller.mm
Labels: scope:mac

#3923 Adding ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.yml
Labels: scope:docs

#3886 Fix "Capture of autoreleasing out parameter inside autorelease pool that may exit before method returns"
  macosx/CreatorWindowController.mm
  macosx/FileOutlineController.mm
  macosx/Torrent.mm
Labels: scope:mac

#3940 Upgrade Xcode Project Settings
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac

#3941 Fix "Nullptr with nonzero offset"
  libtransmission/inout.cc
Labels: scope:core

#3946 Xcode 11.3.1 compatibility
  macosx/CocoaCompatibility.h
Labels: scope:mac

#3949 Don't call X11 functions on non-X11 GDK surfaces
  gtk/Utils.cc
Labels: scope:gtk, type:fixup

#3951 Fix red link in Xcode project
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac

#3950 Fix 'modalDelegate:' is deprecated to avoid contextInfo leaks.
  macosx/AboutWindowController.mm
  macosx/BlocklistDownloaderViewController.mm
  macosx/CreatorWindowController.mm
  macosx/FileRenameSheetController.mm
  macosx/GroupsPrefsController.mm
  macosx/StatsWindowController.mm
  macosx/URLSheetWindowController.mm
Labels: scope:mac, needs code review

#3904 Fix some typos
  AUTHORS
  docs/Port-Forwarding-Guide.md
  docs/README.md
  docs/Release-Notes.md
  extras/encryption.txt
  gtk/ui/gtk3/PrefsDialog.ui
  gtk/ui/gtk4/PrefsDialog.ui
  libtransmission/handshake.cc
  libtransmission/jsonsl.c
  libtransmission/peer-mgr.cc
  libtransmission/transmission.h
  macosx/Controller.mm
  macosx/CreatorWindowController.mm
  macosx/Credits.rtf
  macosx/Torrent.mm
  macosx/TransmissionHelp/html/usingt.html
  news/news-2.42-and-older.md
  news/news-4.0.0-beta-1.md
  tests/libtransmission/handshake-test.cc
  web/src/formatter.js
  web/src/torrent.js
Labels: scope:docs

#3957 Make torrents context menu look more like one (GTK client)
  gtk/MainWindow.cc
Labels: enhancement, scope:gtk, type:ui

#3958 refactor: tr_session declaration cleanup
  libtransmission/session.cc
  libtransmission/session.h
Labels: scope:core, type:refactor

#3959 Don't scroll to message log bottom with no messages (GTK client)
  gtk/MessageLogWindow.cc
Labels: bug, scope:gtk, type:fix

#3961 refactor: session private fields
  libtransmission/announcer-http.cc
  libtransmission/peer-mgr.cc
  libtransmission/peer-mgr.h
  libtransmission/rpcimpl.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  libtransmission/tr-utp.cc
  libtransmission/webseed.cc
Labels: scope:core, type:refactor

#3963 Fix session use after free (GTK client)
  gtk/Session.cc
Labels: scope:gtk, bug:regression

#3964 refactor: add tr_address::fromSockaddr()
  libtransmission/announcer-udp.cc
  libtransmission/net.cc
  libtransmission/net.h
  libtransmission/session.cc
  libtransmission/tr-macros.h
  libtransmission/tr-utp.cc
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/net-test.cc
Labels: scope:core, type:refactor

#3966 refactor: decouple tr-dht from peerMsgs, peerMgr
  libtransmission/handshake.cc
  libtransmission/handshake.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/tr-dht.cc
  libtransmission/tr-dht.h
  libtransmission/tr-udp.cc
  tests/libtransmission/handshake-test.cc
Labels: scope:core, type:refactor

#3967 Use fmt for string formatting (GTK client)
  gtk/Application.cc
  gtk/Dialogs.cc
  gtk/FaviconCache.cc
  gtk/FilterBar.cc
  gtk/MessageLogWindow.cc
  gtk/Notify.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/Utils.cc
  gtk/Utils.h
  gtk/main.cc
Labels: scope:gtk, type:refactor

#3971 Increase message log window width, disable overflow menu (GTK client)
  gtk/ui/gtk3/MainWindow.ui
  gtk/ui/gtk3/MessageLogWindow.ui
  gtk/ui/gtk4/MessageLogWindow.ui
Labels: bug, scope:gtk, type:ui

#3977 refactor: add dns interface class
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/dns-ev.h
  libtransmission/dns.h
  libtransmission/session.cc
  libtransmission/session.h
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/dns-test.cc
Labels: scope:core, type:refactor

#3984 feat: add libtransmission::Dns.cached()
  libtransmission/dns-ev.h
  libtransmission/dns.h
  tests/libtransmission/dns-test.cc
  tests/libtransmission/net-test.cc
Labels: scope:core, type:refactor

#3992 fixup! refactor: remove TR_PRIsv macros (#3842)
  utils/remote.cc
Labels: scope:remote, type:fix

#3982 doc: Building the GTK app on macOS
  docs/Building-Transmission.md
Labels: scope:docs

#3973 remote: improve and document the rename command
  utils/remote.cc
  utils/transmission-remote.1
Labels: scope:remote, type:fix

#3976 Change progress bar color depending on torrent state (GTK client)
  gtk/TorrentCellRenderer.cc
  gtk/TorrentCellRenderer.h
  gtk/Utils.h
Labels: scope:gtk, type:feat

#3986 refactor: extract `tr_buffer` class from `tr_peerIo`
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/handshake.cc
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-msgs.cc
  libtransmission/tr-buffer.h
  libtransmission/variant-benc.cc
  libtransmission/variant-common.h
  libtransmission/variant-json.cc
  libtransmission/variant.cc
  libtransmission/variant.h
  qt/RpcClient.h
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/buffer-test.cc
Labels: scope:core, type:refactor

#3996 Swapped plural and singular positions
  utils/create.cc
Labels: scope:create, i18n, type:ui, bug:regression

#3962 Update to the message log window on macOS
  macosx/MessageWindow.xib
Labels: scope:mac, type:ui

#3974 Remove preprocessor defines from macOS client
  macosx/AddMagnetWindowController.mm
  macosx/AddWindowController.mm
  macosx/BadgeView.mm
  macosx/BlocklistScheduler.mm
  macosx/BonjourController.mm
  macosx/Controller.mm
  macosx/CreatorWindowController.mm
  macosx/DragOverlayView.mm
  macosx/FileNameCell.mm
  macosx/FileOutlineController.mm
  macosx/FilePriorityCell.mm
  macosx/FilterBarController.h
  macosx/FilterBarController.mm
  macosx/GroupPopUpButtonCell.mm
  macosx/GroupsController.mm
  macosx/GroupsPrefsController.mm
  macosx/InfoActivityViewController.mm
  macosx/InfoOptionsViewController.mm
  macosx/InfoPeersViewController.mm
  macosx/InfoTrackersViewController.mm
  macosx/InfoWindowController.mm
  macosx/MessageWindowController.mm
  macosx/NSImageAdditions.mm
  macosx/PiecesView.mm
  macosx/PortChecker.mm
  macosx/PrefsController.mm
  macosx/PriorityPopUpButtonCell.mm
  macosx/StatsWindowController.mm
  macosx/StatusBarController.mm
  macosx/Torrent.h
  macosx/Torrent.mm
  macosx/TorrentCell.mm
  macosx/TorrentTableView.h
  macosx/TorrentTableView.mm
  macosx/TrackerCell.mm
Labels: scope:mac, type:refactor

#3997 Catch dbus exceptions in async callbacks on completion (GTK client)
  gtk/Notify.cc
Labels: scope:gtk, i18n, type:fix

#4002 refactor: decouple tr_announcer_udp
  libtransmission/announcer-common.h
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/announcer.h
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-mgr.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/tr-buffer.h
  libtransmission/tr-udp.cc
  libtransmission/variant-json.cc
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/announcer-udp-test.cc
  tests/libtransmission/dns-test.cc
  tests/libtransmission/test-fixtures.h
Labels: scope:core, type:refactor, type:test, scope:test

#4004 Reload files list in details dialog, unless already loaded (GTK client)
  gtk/DetailsDialog.cc
  gtk/FileList.cc
Labels: scope:gtk, type:fix

#4009 Add user data parameter for torrent removal callback
  gtk/OptionsDialog.cc
  gtk/Session.cc
  libtransmission/rpcimpl.cc
  libtransmission/torrent.cc
  libtransmission/transmission.h
  macosx/Torrent.mm
  tests/libtransmission/move-test.cc
  tests/libtransmission/rename-test.cc
  tests/libtransmission/rpc-test.cc
Labels: scope:core

#4010 macOS fix a potential hang when updating the blocklist
  macosx/BlocklistDownloader.mm
Labels: scope:mac, type:fix

#4014 refactor: add tr_address::toCompact()
  libtransmission/announcer-http.cc
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/net.cc
  libtransmission/net.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-mgr.h
  libtransmission/peer-msgs.cc
  libtransmission/tr-buffer.h
  libtransmission/tr-dht.cc
  libtransmission/variant.cc
  libtransmission/variant.h
  tests/libtransmission/net-test.cc
Labels: scope:core, type:refactor, type:fixup

#4018 fix: ignore unrecognized torrent-get fields
  libtransmission/rpcimpl.cc
Labels: scope:core, type:fix

#4021 fix: crash when a torrent autopauses after encountering an error
  libtransmission/cache.cc
  libtransmission/cache.h
  libtransmission/peer-io.cc
  libtransmission/peer-msgs.cc
Labels: scope:core, type:fixup

#4022 fix: crash on large UDP announce response
  libtransmission/announcer-udp.cc
Labels: scope:core, type:fixup

#4023 fix: sonarcloud warnings
  gtk/PathButton.cc
  gtk/Utils.cc
  libtransmission/dns-ev.h
  libtransmission/net.cc
  libtransmission/net.h
  libtransmission/peer-io.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/timer-ev.h
  libtransmission/tr-buffer.h
  libtransmission/tr-utp.cc
Labels: scope:gtk, scope:core, type:refactor

#4029 Remove tr_generateAllowedSet declaration
  libtransmission/peer-msgs.h
  tests/libtransmission/peer-msgs-test.cc
Labels: scope:core

#4032 Fix tr-buffer.h has same ID as tr-utp.h
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac, bug:regression

#4034 fix: recent signed-unsigned comparison warnings
  gtk/DetailsDialog.cc
  gtk/Session.h
  libtransmission/peer-io.cc
  libtransmission/peer-mgr.cc
  libtransmission/rpcimpl.cc
  libtransmission/session.cc
  libtransmission/torrent.cc
Labels: scope:gtk, scope:core

#4036 fix: FTBFS on Windows
  libtransmission/bandwidth.cc
  libtransmission/file-posix.cc
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-msgs.cc
  libtransmission/rpc-server.cc
  libtransmission/rpc-server.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/timer-ev.cc
  libtransmission/torrent-magnet.cc
  libtransmission/torrent-magnet.h
  libtransmission/tr-buffer.h
  libtransmission/transmission.h
Labels: scope:core, type:fixup

#4051 Refactor/test for got error before use
  libtransmission/handshake.cc
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
Labels: scope:core, type:fixup

#4030 Fix "User-facing text should use localized string macro"
  macosx/Controller.mm
  macosx/FileOutlineController.mm
  macosx/FilterBarController.mm
  macosx/GroupsController.mm
  macosx/NSStringAdditions.h
  macosx/SparkleProxy.mm
Labels: scope:mac

#4059 build: update the web client build deps
  web/package.json
  web/public_html/transmission-app.js
  web/yarn.lock
Labels: scope:web, type:build, type:fixup

#4058 chore: get rid of webpack error while creating source map
  web/webpack.config.js
Labels: scope:web, type:build
