Repository transmission/transmission, pull requests merged in 2022-11, with the labels that each got.

#4067 Auto enlarge search field when editing
  macosx/FilterBar.xib
  macosx/FilterBarController.mm
Labels: scope:mac, needs UI review, type:ui

#4070 Downgrade Fedora image used in GitHub Actions CI to 36
  .github/workflows/actions.yml
Labels: scope:infra, type:build

#4072 Check for functions we use when looking for system libutp
  cmake/FindUTP.cmake
Labels: scope:core, type:build

#4074 warning: empty expression statement has no effect
  Transmission.xcodeproj/project.pbxproj
  libtransmission/net.cc
  libtransmission/rpc-server.cc
  libtransmission/session-alt-speeds.cc
  libtransmission/session-settings.cc
Labels: scope:core

#4011 fix crash when updating blocklist
  libtransmission/blocklist.cc
Labels: scope:core, type:fix

#4079 Adjust `Gio::File::query_info()` error handling (GTK client)
  gtk/Session.cc
Labels: scope:gtk, type:fix, bug:regression

#4065 Declare TR_ETA_NOT_AVAIL as time_t
  libtransmission/torrent.cc
  libtransmission/transmission.h
Labels: scope:core

#4086 refactor: simplify blocklist code
  libtransmission/blocklist.cc
  libtransmission/blocklist.h
  libtransmission/net.h
  libtransmission/session.cc
  libtransmission/session.h
  tests/libtransmission/blocklist-test.cc
Labels: scope:core, type:refactor

#4089 refactor: add more nodiscard, constexpr, and noexcept
  libtransmission/bandwidth.h
  libtransmission/block-info.h
  libtransmission/history.h
  libtransmission/interned-string.h
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/platform.h
  libtransmission/resume.cc
  libtransmission/rpcimpl.cc
  libtransmission/session.h
  libtransmission/timer-ev.h
  libtransmission/torrent-metainfo.h
  libtransmission/torrent.cc
  libtransmission/torrent.h
  libtransmission/utils.cc
  libtransmission/variant-common.h
  libtransmission/variant.cc
  libtransmission/variant.h
Labels: scope:core, type:refactor

#4094 reafctor: use getaddrinfo() instead of evdns
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/announcer-udp.cc
  libtransmission/announcer.h
  libtransmission/dns-ev.h
  libtransmission/dns.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/announcer-udp-test.cc
  tests/libtransmission/dns-test.cc
  tests/libtransmission/net-test.cc
  tests/libtransmission/settings-test.cc
Labels: scope:core, type:refactor

#4092 Bump deps versions used for Windows release builds
  appveyor.yml
  dist/msi/CMakeLists.txt
  release/windows/build-curl.ps1
  release/windows/build-dbus.ps1
  release/windows/build-expat.ps1
  release/windows/build-openssl.ps1
  release/windows/build-qt.ps1
  release/windows/build-transmission.ps1
  release/windows/build-zlib.ps1
  release/windows/toolchain.ps1
Labels: os:windows, type:build

#4069 refactor: make `tr_session_thread` a unique_ptr owned by tr_session
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/peer-io.cc
  libtransmission/peer-mgr.cc
  libtransmission/rpc-server.cc
  libtransmission/session-thread.cc
  libtransmission/session-thread.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/timer-ev.cc
  libtransmission/torrent.cc
  libtransmission/torrent.h
  libtransmission/trevent.cc
  libtransmission/trevent.h
  libtransmission/web.cc
  libtransmission/web.h
  libtransmission/webseed.cc
  tests/libtransmission/move-test.cc
  tests/libtransmission/test-fixtures.h
Labels: scope:core, type:refactor

#4099 Fix web client directory name on Windows
  libtransmission/platform.cc
Labels: os:windows, scope:core, type:fix, bug:regression

#4103 refactor: replace tr_boundinfo with tr_session::BoundSocket
  libtransmission/blocklist.cc
  libtransmission/net.cc
  libtransmission/net.h
  libtransmission/port-forwarding.cc
  libtransmission/port-forwarding.h
  libtransmission/session.cc
  libtransmission/session.h
  tests/libtransmission/net-test.cc
Labels: scope:core, type:refactor

#4104 refactor: add libtransmission::evhelpers
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/session-thread.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/timer-ev.cc
  libtransmission/tr-buffer.h
  libtransmission/tr-lpd.cc
  libtransmission/tr-udp.cc
  libtransmission/utils-ev.h
  libtransmission/watchdir-kqueue.cc
  libtransmission/web.cc
  libtransmission/webseed.cc
Labels: scope:core, type:refactor

#4107 Fix "upload/download connectivity is broken"
  libtransmission/peer-mgr.cc
Labels: bug:regression

#4085 Fix: values above INT_MAX (68 years) are interpreted as negative values
  macosx/Torrent.mm
Labels: scope:mac

#4084 Fix "nil passed to a callee that requires a non-null 1st parameter"
  macosx/FileOutlineController.mm
Labels: scope:mac

#3944 feat: Align active filter macOS
  macosx/Controller.mm
  macosx/Torrent.h
  macosx/Torrent.mm
Labels: scope:mac, feature disparity, type:ui

#4031 Fix "(arm64) could not find object file symbol for symbol"
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac

#4055 macOS: Change BadgeView.mm so that up is up and down is down
  macosx/BadgeView.mm
Labels: scope:mac, type:ui

#4093 fix: inspector icon should be disabled as default
  web/src/action-manager.js
Labels: scope:web

#4116 perf: reuse existing evtimers instead of creating new ones
  libtransmission/timer-ev.cc
Labels: scope:core, type:perf

#4121 test: add libtransmission::Timer tests
  libtransmission/peer-mgr.cc
  libtransmission/timer-ev.cc
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/test-fixtures.h
  tests/libtransmission/timer-test.cc
Labels: type:test

#4114 Fix "Forwarding reference passed to std::move"
  Transmission.xcodeproj/project.pbxproj
  libtransmission/session.h
Labels: scope:core

#4110 Removing superfluous interface declarations
  macosx/AddMagnetWindowController.mm
  macosx/AddWindowController.mm
  macosx/BadgeView.mm
  macosx/BlocklistDownloader.mm
  macosx/BlocklistDownloaderViewController.mm
  macosx/BlocklistScheduler.mm
  macosx/CreatorWindowController.mm
  macosx/FileListNode.mm
  macosx/FileNameCell.mm
  macosx/FilterBarController.mm
  macosx/GroupsController.mm
  macosx/GroupsPrefsController.mm
  macosx/InfoActivityViewController.mm
  macosx/InfoFileViewController.mm
  macosx/InfoGeneralViewController.mm
  macosx/InfoOptionsViewController.mm
  macosx/InfoPeersViewController.mm
  macosx/InfoTrackersViewController.mm
  macosx/InfoWindowController.mm
  macosx/MessageWindowController.mm
  macosx/PortChecker.mm
  macosx/PrefsController.mm
  macosx/StatsWindowController.mm
  macosx/StatusBarView.mm
  macosx/Torrent.mm
  macosx/TorrentCell.mm
  macosx/TorrentTableView.mm
  macosx/TrackerCell.mm
  macosx/URLSheetWindowController.mm
Labels: scope:mac

#4127 Fix issues reported by clang-tidy `readability` checks (GTK client)
  gtk/.clang-tidy
  gtk/Actions.cc
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/FileList.cc
  gtk/FilterBar.cc
  gtk/FreeSpaceLabel.cc
  gtk/Notify.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/Session.h
  gtk/TorrentCellRenderer.cc
  gtk/Utils.cc
  gtk/Utils.h
Labels: scope:gtk, type:refactor

#4128 Bind sensitivity properties in .ui files (GTK client)
  gtk/MakeDialog.cc
  gtk/PrefsDialog.cc
  gtk/ui/gtk3/DetailsDialog.ui
  gtk/ui/gtk3/MakeDialog.ui
  gtk/ui/gtk3/PrefsDialog.ui
  gtk/ui/gtk4/DetailsDialog.ui
  gtk/ui/gtk4/MakeDialog.ui
  gtk/ui/gtk4/PrefsDialog.ui
Labels: scope:gtk, type:refactor

#4130 refactor: fix thread sanitizer warnings in tr_sessionClose()
  libtransmission/session-thread.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/web.cc
Labels: scope:core, type:refactor

#4131 fix: thread-sanitizer warnings in SandboxedTests
  tests/libtransmission/test-fixtures.h
Labels: type:fix, scope:test

#4101 Update building docs for Debian
  docs/Building-Transmission.md
Labels: scope:docs

#4137 Fix issues reported by clang-tidy `modernize` checks (GTK client)
  gtk/.clang-tidy
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/FileList.cc
  gtk/FilterBar.cc
  gtk/MainWindow.cc
  gtk/MessageLogWindow.cc
  gtk/Prefs.cc
  gtk/PrefsDialog.cc
  gtk/TorrentCellRenderer.cc
  gtk/Utils.cc
Labels: scope:gtk, type:refactor

#4122 refactor: make DHT unblocking
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  libtransmission/torrent.h
  libtransmission/tr-dht.cc
  libtransmission/tr-dht.h
  libtransmission/tr-udp.cc
  tests/libtransmission/CMakeLists.txt
  tests/libtransmission/dht-test.cc
  tests/libtransmission/test-fixtures.h
  tests/libtransmission/timer-test.cc
Labels: scope:core, type:refactor, type:test, scope:test

#4139 Remove std::enable_if<std::is_member_function_pointer>
  libtransmission/file.h
Labels: scope:core, type:refactor

#4112 Fix NSURLConnection is deprecated - Use NSURLSession
  macosx/PortChecker.h
  macosx/PortChecker.mm
  macosx/PrefsController.mm
Labels: scope:mac

#4143 fix: warnings from clang tidy sonarcloud coverity
  libtransmission/announcer-udp.cc
  libtransmission/blocklist.cc
  libtransmission/handshake.cc
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-mgr.cc
  libtransmission/session-thread.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/utils-ev.h
  libtransmission/utils.cc
  qt/MakeDialog.cc
  tests/libtransmission/dht-test.cc
  tests/libtransmission/handshake-test.cc
  tests/libtransmission/watchdir-test.cc
Labels: scope:qt, scope:core, type:fix, scope:test

#4125 Add CodeQL workflow
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Labels: type:build

#4147 Remove Xcode project in favor of CMake
  CMakeLists.txt
  cmake/TrMacros.cmake
  gtk/CMakeLists.txt
  macosx/CMakeLists.txt
  macosx/Info.plist.in
  macosx/QuickLookPlugin/CMakeLists.txt
  qt/CMakeLists.txt
  tests/gtest/CMakeLists.txt
  tests/libtransmission/CMakeLists.txt
Labels: scope:mac, type:build

#4150 Only run AppVeyor builds on `main` and versioned branches/tags
  appveyor.yml
Labels: type:build

#4156 Fix default/minimum `CMAKE_OSX_DEPLOYMENT_TARGET` handling
  .github/workflows/actions.yml
  CMakeLists.txt
  macosx/CMakeLists.txt
Labels: scope:mac, type:build

#4113 ignoring deprecation warning on NSUnarchiver
  Transmission.xcodeproj/project.pbxproj
  macosx/CMakeLists.txt
  macosx/CocoaCompatibility.h
  macosx/GroupsController.mm
  macosx/NSKeyedUnarchiverAdditions.h
  macosx/NSKeyedUnarchiverAdditions.mm
  macosx/SparkleProxy.mm
  macosx/TorrentTableView.mm
Labels: scope:mac

#4158 Fix issues reported by clang-tidy `cppcoreguidelines` checks (GTK client)
  gtk/.clang-tidy
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/FaviconCache.cc
  gtk/FileList.cc
  gtk/FilterBar.cc
  gtk/MainWindow.cc
  gtk/MakeDialog.cc
  gtk/MessageLogWindow.cc
  gtk/Notify.cc
  gtk/OptionsDialog.cc
  gtk/PathButton.cc
  gtk/Prefs.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/SystemTrayIcon.cc
  gtk/TorrentCellRenderer.cc
  gtk/TorrentCellRenderer.h
  gtk/Utils.cc
  gtk/Utils.h
  gtk/main.cc
Labels: scope:gtk, type:refactor

#4132 Fix "Block implicitly retains 'self'"
  macosx/Controller.mm
Labels: scope:mac

#4145 Fix create torrent out-of-range piece size
  macosx/Base.lproj/Creator.xib
  macosx/CreatorWindowController.mm
Labels: scope:mac

#4160 Fix issues reported by clang-tidy `performance` checks (GTK client)
  gtk/.clang-tidy
  gtk/Actions.cc
  gtk/FilterBar.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
Labels: scope:gtk, type:refactor

#4159 refactor: better TR_CURL_SSL_NO_VERIFY
  libtransmission/web.cc
Labels: scope:core, type:perf

#4149 Accessibility description for images
  macosx/Controller.mm
  macosx/InfoWindowController.mm
Labels: scope:mac, needs code review

#4166 refactor: use condition_variable in tr_torrent_verifier.remove()
  libtransmission/verify.cc
  libtransmission/verify.h
Labels: scope:core, type:refactor

#4141 remove unused Portuguese localization
  macosx/QuickLookPlugin/pt.lproj/Localizable.strings
Labels: scope:mac, i18n

#4167 Fix issues reported by clang-tidy `misc` checks (GTK client)
  gtk/.clang-tidy
  gtk/FileList.cc
  gtk/Prefs.cc
  gtk/Session.cc
  gtk/Utils.cc
  gtk/Utils.h
Labels: scope:gtk, type:refactor

#4168 Fix incorrect selection behavior when building against GTK 4
  gtk/MainWindow.cc
  gtk/Utils.cc
  gtk/Utils.h
Labels: scope:gtk, type:fixup

#4170 refactor: re-enable some clang tidy warnings in tests
  tests/libtransmission/.clang-tidy
  tests/libtransmission/announcer-udp-test.cc
  tests/libtransmission/bitfield-test.cc
  tests/libtransmission/block-info-test.cc
  tests/libtransmission/blocklist-test.cc
  tests/libtransmission/completion-test.cc
  tests/libtransmission/copy-test.cc
  tests/libtransmission/crypto-test.cc
  tests/libtransmission/file-test.cc
  tests/libtransmission/getopt-test.cc
  tests/libtransmission/handshake-test.cc
  tests/libtransmission/json-test.cc
  tests/libtransmission/lpd-test.cc
  tests/libtransmission/magnet-metainfo-test.cc
  tests/libtransmission/makemeta-test.cc
  tests/libtransmission/move-test.cc
  tests/libtransmission/peer-mgr-active-requests-test.cc
  tests/libtransmission/quark-test.cc
  tests/libtransmission/rename-test.cc
  tests/libtransmission/rpc-test.cc
  tests/libtransmission/session-alt-speeds-test.cc
  tests/libtransmission/session-test.cc
  tests/libtransmission/subprocess-test.cc
  tests/libtransmission/torrent-magnet-test.cc
  tests/libtransmission/torrent-metainfo-test.cc
  tests/libtransmission/torrents-test.cc
  tests/libtransmission/variant-test.cc
  tests/libtransmission/watchdir-test.cc
Labels: type:refactor, scope:test

#4171 fix: 4.0.0-beta.1 wrong RPC response for group-get
  libtransmission/rpcimpl.cc
Labels: scope:core, type:fix

#4173 test: increase timer interval in TimerTest.repeatingThenSingleShot
  tests/libtransmission/timer-test.cc
Labels: type:fix, scope:test

#4174 Fix issues reported by clang-tidy `cert` checks (GTK client)
  gtk/.clang-tidy
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/FileList.cc
  gtk/FilterBar.cc
  gtk/MakeDialog.cc
  gtk/MessageLogWindow.cc
  gtk/Notify.cc
  gtk/OptionsDialog.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/Session.h
  gtk/Utils.cc
  gtk/main.cc
Labels: scope:gtk, type:refactor

#4175 fixup! refactor: decouple session settings from the session class (#4053)
  libtransmission/rpc-server.cc
Labels: scope:core, type:fixup

#4176 perf: tr_sys_path_basename() returns a std::string_view
  libtransmission/file-posix.cc
  libtransmission/file-win32.cc
  libtransmission/file.h
  tests/libtransmission/file-test.cc
Labels: scope:core, type:perf

#4180 fix: sonarcloud warnings
  daemon/daemon.cc
  daemon/daemon.h
  qt/Application.h
  qt/FileTreeView.cc
  qt/IconCache.cc
  qt/RpcClient.cc
  qt/RpcClient.h
  qt/RpcQueue.cc
  qt/RpcQueue.h
  qt/Session.cc
  qt/TrackerModelFilter.h
  qt/VariantHelpers.h
  utils/edit.cc
  utils/remote.cc
Labels: scope:daemon, scope:remote, scope:qt, type:fix

#4182 perf: revert e065565cd to restore async dns lookups
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/announcer-udp.cc
  libtransmission/announcer.h
  libtransmission/dns-ev.h
  libtransmission/dns.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  tests/libtransmission/announcer-udp-test.cc
  tests/libtransmission/dns-test.cc
  tests/libtransmission/net-test.cc
  tests/libtransmission/settings-test.cc
Labels: scope:core, type:perf, type:fixup

#4183 Fix issues reported by clang-tidy `bugprone` checks (GTK client)
  gtk/.clang-tidy
  gtk/FaviconCache.cc
  gtk/MakeDialog.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/TorrentCellRenderer.cc
Labels: scope:gtk, type:refactor

#4201 refactor: try again to use getaddrinfo in announcer_udp
  Transmission.xcodeproj/project.pbxproj
  libtransmission/CMakeLists.txt
  libtransmission/announcer-udp.cc
  libtransmission/announcer.h
  libtransmission/dns-ev.h
  libtransmission/dns.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/timer.h
  tests/libtransmission/announcer-udp-test.cc
Labels: scope:core, type:refactor

#4204 fix: ftbfs on Windows
  libtransmission/announcer-udp.cc
  libtransmission/handshake.cc
  libtransmission/net.cc
  libtransmission/peer-io.cc
  libtransmission/torrent.cc
  tests/libtransmission/announcer-udp-test.cc
  tests/libtransmission/dht-test.cc
  tests/libtransmission/net-test.cc
  tests/libtransmission/settings-test.cc
Labels: scope:core, type:fixup, scope:test

#4195 Fix incorrect build hash when building with Xcode
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac

#4210 fix: nullptr crash in peer-io
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
Labels: scope:core, type:fixup

#4211 refactor: incremental announcer improvements
  libtransmission/announcer-common.h
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/announcer.h
  tests/libtransmission/announcer-udp-test.cc
Labels: scope:core, type:refactor

#4144 Fix crash on torrent filenames in non-UTF-8 encoding
  Transmission.xcodeproj/project.pbxproj
  macosx/CMakeLists.txt
  macosx/NSDataAdditions.h
  macosx/NSDataAdditions.mm
  macosx/Torrent.mm
Labels: scope:mac, needs code review

#4202 Appropriate and improve VDKQueue
  .clang-format-ignore
  Transmission.xcodeproj/project.pbxproj
  macosx/CMakeLists.txt
  macosx/VDKQueue/README.md
  macosx/VDKQueue/VDKQueue.h
  macosx/VDKQueue/VDKQueue.m
  macosx/VDKQueue/VDKQueue.mm
Labels: scope:mac, needs code review

#4214 refactor: incremental announcer refactor pt. 2
  libtransmission/announcer-common.h
  libtransmission/announcer-http.cc
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/announcer.h
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent.cc
  tests/libtransmission/announcer-udp-test.cc
Labels: scope:core, type:refactor

#4208 Fix hang in CSBackupSetItemExcluded
  macosx/Torrent.mm
Labels: scope:mac

#4172 refactor: remove unused vars, code simplify and minor optimize
  libtransmission/bandwidth.cc
  libtransmission/watchdir.cc
  qt/IconCache.cc
  qt/Prefs.cc
  qt/StyleHelper.cc
  qt/StyleHelper.h
  qt/Torrent.h
  tests/libtransmission/magnet-metainfo-test.cc
Labels: scope:core, type:refactor

#4194 Fix "Implicit conversion loses integer precision"
  libtransmission/announcer.cc
  libtransmission/bandwidth.cc
  libtransmission/bandwidth.h
  libtransmission/crypto-utils-ccrypto.cc
  libtransmission/inout.cc
  libtransmission/inout.h
  libtransmission/peer-io.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/torrent-magnet.cc
  libtransmission/transmission.h
  libtransmission/web.h
  macosx/PrefsController.mm
Labels: scope:core

#4218 refactor: aggregate dh in peer io
  libtransmission/announcer.cc
  libtransmission/crypto-utils.cc
  libtransmission/peer-io.h
  libtransmission/peer-mse.cc
  libtransmission/peer-mse.h
  libtransmission/port-forwarding-upnp.cc
  libtransmission/tr-arc4.h
  libtransmission/watchdir-inotify.cc
Labels: scope:core, type:refactor

#4190 fix: SecKeychain is deprecated
  macosx/PrefsController.mm
Labels: scope:mac

#4224 perf: constexpr and move work outside of loops
  libtransmission/bandwidth.cc
  libtransmission/peer-mgr.cc
  libtransmission/session.cc
  libtransmission/torrent.cc
  libtransmission/torrent.h
Labels: scope:core, type:perf

#4226 perf: improve tr_peerMgrGetDesiredAvailable()
  libtransmission/bitfield.cc
  libtransmission/bitfield.h
  libtransmission/peer-common.h
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/peer-msgs.h
  libtransmission/webseed.cc
  tests/libtransmission/bitfield-test.cc
Labels: scope:core, type:perf

#4228 fixup: heap-use-after-free in announce, scrape response on shutdown
  libtransmission/announcer.cc
Labels: scope:core, type:fixup

#4227 fix: eta display in GTK client details dialog
  gtk/DetailsDialog.cc
Labels: scope:gtk, type:fix, type:ui

#4229 fix: new sonarcloud, coverity, gcc warnings
  gtk/DetailsDialog.cc
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/bandwidth.cc
  libtransmission/peer-mgr.cc
  libtransmission/peer-mse.h
  libtransmission/session.cc
  tests/libtransmission/bitfield-test.cc
Labels: scope:gtk, scope:core, type:fixup, scope:test

#4221 Fix "NSFilenamesPboardType is deprecated"
  macosx/Controller.h
  macosx/Controller.mm
  macosx/DragOverlayWindow.h
  macosx/DragOverlayWindow.mm
Labels: scope:mac

#4230 fixup! refactor: remove unused vars, code simplify and minor optimize…
  qt/Prefs.cc
Labels: scope:qt, type:fixup, bug:regression

#4231 Fix building on macOS Mojave
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac, type:build, bug:regression

#4232 fix: coverity warnings, sonarcloud code smells
  gtk/FaviconCache.cc
  gtk/Session.cc
  libtransmission/announcer-http.cc
  libtransmission/handshake.cc
  libtransmission/peer-msgs.cc
  libtransmission/rpc-server.cc
  libtransmission/session.cc
  libtransmission/verify.cc
  libtransmission/verify.h
  qt/FileTreeItem.cc
  tests/libtransmission/file-test.cc
Labels: scope:gtk, scope:qt, scope:core, type:fix

#4234 Fix building with cmake on macOS Mojave
  macosx/CMakeLists.txt
Labels: scope:mac, type:build, bug:regression

#4237 refactor: log UTP_ETIMEDOUT errors to 'trace' messages
  libtransmission/peer-io.cc
Labels: scope:core, type:refactor

#4238 refactor: add tr_rand_obj()
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/crypto-utils.cc
  libtransmission/crypto-utils.h
  libtransmission/peer-mgr-wishlist.cc
  libtransmission/peer-mse.cc
  libtransmission/rpc-server.cc
  libtransmission/session-id.cc
  libtransmission/tr-dht.cc
  libtransmission/tr-lpd.cc
  tests/libtransmission/announcer-udp-test.cc
  tests/libtransmission/clients-test.cc
  tests/libtransmission/completion-test.cc
  tests/libtransmission/crypto-test-ref.h
  tests/libtransmission/dht-test.cc
  tests/libtransmission/handshake-test.cc
  tests/libtransmission/lpd-test.cc
  tests/libtransmission/magnet-metainfo-test.cc
  tests/libtransmission/test-fixtures.h
Labels: scope:core, type:refactor, scope:test

#4236 feat: remove option to show trace messages in UI because it floods the log
  macosx/MessageWindow.xib
  macosx/MessageWindowController.mm
Labels: scope:mac, type:ui

#4241 refactor: make tr_announcer.key a uint32_t
  libtransmission/announcer-common.h
  libtransmission/announcer.cc
Labels: scope:core, type:refactor

#4242 fix GTK client message log window does not restore level selection
  gtk/MessageLogWindow.cc
  libtransmission/session.cc
  libtransmission/variant-converters.cc
  tests/libtransmission/settings-test.cc
Labels: scope:gtk, scope:core, type:fix, type:fixup

#4246 chore: update mime-types
  libtransmission/mime-types.h
Labels: scope:core

#4200 Add Windows configuration to GHA sanity builds
  .github/workflows/actions.yml
  CMakeLists.txt
  release/windows/build-curl.ps1
  release/windows/main.ps1
  release/windows/toolchain.ps1
Labels: type:build

#4254 refactor: reduce scope of TR_NATIVE_EOL_STR, TR_NATIVE_EOL_STR_SIZE
  libtransmission/file.cc
  libtransmission/file.h
Labels: scope:core, type:refactor, notes:none

#4255 refactor: use std::optional.value_or()
  libtransmission/torrent.cc
  libtransmission/utils.cc
  libtransmission/variant-json.cc
  qt/FreeSpaceLabel.cc
Labels: scope:qt, scope:core, type:refactor, notes:none

#4257 refactor: do not reimplement tr_getRatio() in transmission-remote
  utils/remote.cc
Labels: scope:remote, type:refactor, notes:none

#4258 perf: remove cpu bottleneck in tr_peerIo::write()
  libtransmission/peer-io.cc
  libtransmission/tr-buffer.h
Labels: scope:core, type:perf

#4260 fix: TR_TORRENT_LABELS env var in scripts
  libtransmission/torrent.cc
Labels: scope:core, type:fix

#4245 Fix deleting previously selected torrent when trying to clear search field using Command + Delete
  macosx/Controller.mm
  macosx/FilterBarController.h
  macosx/FilterBarController.mm
Labels: bug, scope:mac, needs update, type:fix

#4179 refactor: Use getIndexes:maxCount:inIndexRange: directly
  macosx/Controller.mm
  macosx/Torrent.mm
Labels: scope:mac, type:refactor

#4261 refactor: add std::unique_ptr<evhttp> handler to utils-ev
  libtransmission/rpc-server.cc
  libtransmission/rpc-server.h
  libtransmission/session.h
  libtransmission/tr-lpd.cc
  libtransmission/utils-ev.h
Labels: scope:core, type:refactor, notes:none

#4262 refactor: make some local pointer vars pointer-to-const
  libtransmission/announcer-http.cc
  libtransmission/bandwidth.cc
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/tr-lpd.cc
  libtransmission/variant-benc.cc
  libtransmission/variant-json.cc
  libtransmission/verify.h
  libtransmission/webseed.cc
Labels: scope:core, type:refactor, notes:none

#4263 refactor: remove references to FD_SETSIZE
  CMakeLists.txt
  gtk/PrefsDialog.cc
  qt/PrefsDialog.cc
Labels: scope:gtk, scope:qt, type:refactor, notes:none

#4264 fix: potentially incorrect error message in rpc-server whitelist
  libtransmission/rpc-server.cc
Labels: scope:core, type:fix, notes:none

#4266 fix: flaky subprocess tests
  tests/libtransmission/subprocess-test.cc
Labels: type:fix, scope:test, notes:none

#4268 fix: sonarcloud cpp:S6005
  libtransmission/announcer.cc
  libtransmission/clients.cc
  qt/Prefs.cc
Labels: scope:qt, scope:core, type:refactor, notes:none

#4270 fix: sonarcloud cpp:S6004
  libtransmission/clients.cc
  libtransmission/handshake.cc
  libtransmission/magnet-metainfo.cc
  libtransmission/peer-msgs.cc
  libtransmission/platform.cc
  libtransmission/quark.cc
  libtransmission/resume.cc
  libtransmission/rpc-server.cc
  libtransmission/rpcimpl.cc
  libtransmission/torrent-magnet.cc
  libtransmission/tr-lpd.cc
  libtransmission/utils.cc
  libtransmission/variant.cc
  libtransmission/verify.cc
  qt/DBusInteropHelper.cc
  qt/FilterBar.cc
  utils/remote.cc
  utils/show.cc
Labels: scope:remote, scope:show, scope:qt, scope:core, type:refactor, notes:none

#4275 refactor: do not report peer EOF as an error
  libtransmission/peer-msgs.cc
Labels: scope:core, type:fix, notes:none

#4277 Docs: refresh web-interface page
  docs/Web-Interface.md
  docs/resources/mac-enable-web-2.png
Labels: scope:web, type:docs

#4278 refactor: GTK favicon lookup improvements
  gtk/FaviconCache.cc
  libtransmission/announcer-http.cc
  libtransmission/web.cc
  libtransmission/web.h
Labels: scope:gtk, type:refactor

#4279 refactor: UDP and TCP announces use same timeout interval
  libtransmission/announcer-common.h
  libtransmission/announcer-http.cc
  libtransmission/announcer-udp.cc
Labels: scope:core, type:refactor, notes:none

#4280 refactor: add tr_announcer.startShutdown()
  libtransmission/announcer-udp.cc
  libtransmission/announcer.cc
  libtransmission/announcer.h
  libtransmission/session.cc
  tests/libtransmission/announcer-udp-test.cc
Labels: scope:core, type:refactor, notes:none

#4281 refactor: use tr_web instead of curl in transmission-show
  utils/show.cc
Labels: scope:show, type:refactor, notes:none

#4285 Fix/long shutdown crash on shutdown
  libtransmission/announcer.cc
  libtransmission/announcer.h
  libtransmission/net.cc
  libtransmission/session.cc
  libtransmission/session.h
  libtransmission/transmission.h
  libtransmission/web.cc
  libtransmission/web.h
Labels: scope:core, type:fix

#4283 refactor: avoid double logging of libevent errors
  libtransmission/handshake.cc
  libtransmission/peer-msgs.cc
Labels: scope:core, notes:none

#4286 fixup! refactor: GTK favicon lookup improvements (#4278)
  gtk/FaviconCache.cc
Labels: scope:gtk, type:refactor, notes:none

#4287 fix: shut down utp sooner during session shutdown
  libtransmission/session.cc
Labels: scope:core, type:fix, notes:none
