Repository transmission/transmission, pull requests merged in 2024-01, with the labels that each got.

#6475 Remove low-quality gettext locales from the list
  po/CMakeLists.txt
Labels: i18n, semver:minor

#6471 chore: webui scss cleanup
  web/assets/css/transmission-app.scss
  web/public_html/index.html
Labels: scope:web, notes:none, type:chore

#6418 Fix libtransmission build on very old cmake versions
  libtransmission/CMakeLists.txt
Labels: type:build

#6467 Support multiple URL objects from pasteboard
  macosx/Controller.h
  macosx/Controller.mm
  macosx/TorrentTableView.mm
Labels: scope:mac

#6416 fix: implement proper download limit for uTP
  libtransmission/peer-io.cc
  libtransmission/peer-io.h
  libtransmission/peer-socket.cc
Labels: scope:core, type:fix, notes:none

#6383 refactor: convert `tr_incomplete_metadata` to c++ class
  libtransmission/peer-mgr.cc
  libtransmission/peer-msgs.cc
  libtransmission/torrent-magnet.cc
  libtransmission/torrent-magnet.h
  libtransmission/torrent.cc
  libtransmission/torrent.h
  tests/libtransmission/test-fixtures.h
  tests/libtransmission/torrent-magnet-test.cc
Labels: scope:core, type:refactor, needs code review, notes:none

#6456 refactor: use new tr_variant API in rpcimpl
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/Session.cc
  gtk/Session.h
  libtransmission/rpc-server.cc
  libtransmission/rpcimpl.cc
  libtransmission/rpcimpl.h
  qt/RpcClient.cc
  qt/RpcClient.h
  tests/libtransmission/rpc-test.cc
Labels: scope:core, type:refactor, notes:none

#6481 fixup! fix: implement proper download limit for uTP (#6416)
  libtransmission/peer-io.cc
Labels: bug:regression

#6483 fix: restore `alt-speed-enabled` config parameter
  libtransmission/session-alt-speeds.h
Labels: scope:core, type:fix, semver:patch

#6484 fix: reference to temporary
  libtransmission/file-piece-map.cc
  libtransmission/torrent.cc
Labels: scope:core, type:fix, notes:none

#6488 chore: fix misc-use-anonymous-namespace warnings from clang-tidy
  cli/cli.cc
  daemon/daemon-win32.cc
  daemon/daemon.cc
  gtk/Prefs.cc
  libtransmission/crypto-utils-mbedtls.cc
  libtransmission/crypto-utils-wolfssl.cc
  libtransmission/file-win32.cc
  libtransmission/net.cc
  libtransmission/web.cc
  qt/DetailsDialog.cc
  qt/PrefsDialog.cc
  utils/edit.cc
  utils/remote.cc
Labels: scope:cli, scope:daemon, scope:gtk, scope:qt, scope:core, type:refactor, notes:none

#6495 fix: app defaults should override libtransmission defaults
  cli/cli.cc
  daemon/daemon.cc
  gtk/Prefs.cc
  libtransmission/session.cc
  libtransmission/transmission.h
  qt/Prefs.cc
  qt/Session.cc
Labels: scope:cli, scope:daemon, scope:gtk, scope:qt, scope:core, type:fix, notes:none

#6492 fix: restore the `tag` key in RPC response
  libtransmission/rpcimpl.cc
  tests/libtransmission/rpc-test.cc
Labels: scope:core, type:fix, scope:test, notes:none

#6491 fix: WebUI render html entity in torrent ratio
  web/src/statistics-dialog.js
  web/src/torrent-row.js
Labels: scope:web, type:fix, semver:patch

#6490 fixup! chore: webui scss cleanup (#6471)
  web/assets/css/transmission-app.scss
Labels: scope:web, type:fix, notes:none

#6498 fixup! chore: fix misc-use-anonymous-namespace warnings from clang-tidy
  utils/edit.cc
Labels: scope:edit, notes:none

#6497 chore: remove FMT_STRING macros
  cli/cli.cc
  daemon/daemon-posix.cc
  daemon/daemon-win32.cc
  gtk/Application.cc
  gtk/DetailsDialog.cc
  gtk/FileList.cc
  gtk/FreeSpaceLabel.cc
  gtk/MakeDialog.cc
  gtk/Torrent.cc
  gtk/TorrentCellRenderer.cc
  libtransmission/announcer.cc
  libtransmission/file-posix.cc
  libtransmission/file-win32.cc
  libtransmission/handshake.cc
  libtransmission/peer-msgs.cc
  libtransmission/platform.cc
  libtransmission/rpc-server.cc
  libtransmission/subprocess-win32.cc
  libtransmission/torrent-files.cc
  libtransmission/torrent.cc
  libtransmission/tr-assert.mm
  libtransmission/tr-utp.cc
  utils/remote.cc
Labels: scope:cli, scope:daemon, scope:remote, scope:gtk, scope:core, notes:none

#6489 fix missing quotes for language codes with a dash
  Transmission.xcodeproj/project.pbxproj
Labels: scope:mac, notes:none

#6486 fix: base62 conversion in peer-id generation
  update-version-h.sh
Labels: bug, scope:mac, type:build, notes:none

#5340 feat: Progress bar length and font size increases for webui
  web/assets/css/transmission-app.scss
Labels: needs clarification, scope:web, needs UI review

#6499 fix: include daemon-specific options in app defaults
  daemon/daemon.cc
  daemon/daemon.h
  docs/Editing-Configuration-Files.md
Labels: scope:daemon, scope:docs, type:fix

#6500 fix: WebUI render html entity in torrent ratio (#6491)
  web/src/statistics-dialog.js
  web/src/torrent-row.js
Labels: scope:web, type:fix

#6438 fix: parsing sitename info from 3.xx Servers
  qt/VariantHelpers.cc
Labels: scope:qt, type:fix

#6501 Remove dead pre-Lion code from the torrent table view
  macosx/Base.lproj/MainMenu.xib
  macosx/TorrentTableView.h
  macosx/TorrentTableView.mm
Labels: scope:mac, needs code review, notes:none, type:chore

#6503 Remove unused (but exported for translation) button title (Mac client)
  macosx/Base.lproj/InfoGeneralView.xib
Labels: scope:mac, i18n, type:ui, notes:none

#6502 fix: misc-include-cleaner clang-tidy warnings
  gtk/.clang-tidy
  gtk/Actions.cc
  gtk/Application.cc
  gtk/FileList.cc
  gtk/MessageLogWindow.cc
  gtk/PathButton.cc
  gtk/Percents.cc
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/TorrentCellRenderer.cc
  gtk/Utils.cc
  libtransmission/.clang-tidy
  libtransmission/announce-list.cc
  libtransmission/cache.cc
  libtransmission/inout.cc
  libtransmission/tr-utp.cc
  qt/.clang-tidy
  qt/Application.cc
  qt/Formatter.cc
  qt/IconCache.cc
  qt/Prefs.cc
  qt/Session.cc
  qt/TorrentDelegateMin.cc
  qt/Utils.cc
  qt/VariantHelpers.cc
  tests/libtransmission/.clang-tidy
  tests/libtransmission/utils-test.cc
Labels: scope:gtk, scope:qt, scope:core, type:fix, scope:test, notes:none

#6504 fix: performance-enum-size warnings
  gtk/FileList.cc
  gtk/FilterBar.cc
  gtk/FilterBase.h
  gtk/ListModelAdapter.h
  gtk/Session.h
  gtk/SorterBase.h
  gtk/Torrent.h
  gtk/TorrentFilter.h
  gtk/Utils.h
  libtransmission/announcer-udp.cc
  libtransmission/peer-msgs.cc
  libtransmission/port-forwarding-upnp.cc
  libtransmission/rpc-server.cc
  libtransmission/rpcimpl.cc
  libtransmission/torrent-metainfo.cc
  libtransmission/tr-dht.cc
  tests/libtransmission/watchdir-test.cc
Labels: scope:gtk, scope:core, type:fix, scope:test, notes:none

#6514 fix: use one variable to store `TR_KEY_rpc_authentication_required`
  libtransmission/rpc-server.cc
  libtransmission/rpc-server.h
Labels: scope:core, type:fix, semver:patch

#6518 Qt client accessibility improvements (part 1)
  qt/DetailsDialog.cc
  qt/DetailsDialog.ui
  qt/FilterBar.cc
  qt/FilterBar.h
  qt/MakeDialog.ui
  qt/PrefsDialog.ui
  qt/RelocateDialog.ui
  qt/SessionDialog.ui
  qt/StatsDialog.ui
  qt/TrackersDialog.ui
Labels: scope:qt, type:ui, semver:minor, type:a11y

#6519 Pin ccache to 4.8.3 on AppVeyor
  appveyor.yml
Labels: notes:none, semver:patch, type:ci

#6505 fixup! fix: include daemon-specific options in app defaults (#6499)
  daemon/daemon.cc
  daemon/daemon.h
  libtransmission/quark.cc
  libtransmission/quark.h
Labels: scope:daemon, type:fix, notes:none

#5866 docs: Add Debian 12 instructions
  docs/Building-Transmission.md
Labels: type:docs

#6520 Make `SqueezeLabel` [more] accessible
  qt/AccessibleSqueezeLabel.cc
  qt/AccessibleSqueezeLabel.h
  qt/Application.cc
  qt/CMakeLists.txt
  qt/SqueezeLabel.cc
  qt/SqueezeLabel.h
  qt/StatsDialog.ui
Labels: scope:qt, type:ui, semver:minor, type:a11y

#6521 Bump CodeQL to v3 (v2 is to be deprecated)
  .github/workflows/codeql.yml
Labels: notes:none, type:ci

#6516 Update pieces label on source change even if piece size doesn't change
  qt/MakeDialog.cc
Labels: scope:qt, type:fix, semver:patch

#6508 fix: always schedule uTP ack after receiving a packet
  libtransmission/peer-io.cc
Labels: scope:core, type:perf, notes:highlight

#6538 Revert "feat: Only show .torrent files in the web UI (#6320)"
  web/src/open-dialog.js
Labels: scope:web, type:fix, notes:none

#6527 refactor: fix cppcoreguidelines-avoid-do-while warnings
  gtk/.clang-tidy
  gtk/FileList.cc
  libtransmission/file-posix.cc
  libtransmission/subprocess-posix.cc
  qt/.clang-tidy
  tests/libtransmission/.clang-tidy
  tests/libtransmission/bitfield-test.cc
Labels: scope:gtk, scope:core, type:refactor, scope:test

#6507 fix: keep peer io alive inside utp callback
  libtransmission/peer-io.cc
Labels: scope:core, type:fix, notes:none

#6024 android patches for ndk
  .clang-format-ignore
  .github/workflows/actions.yml
  .gitignore
  CMakeLists.txt
  android/build.gradle
  android/gradle.properties
  android/src/main/AndroidManifest.xml
  cmake/TrMacros.cmake
  cmake/VcpkgAndroid.cmake
  libtransmission/CMakeLists.txt
  libtransmission/file-capacity.cc
Labels: type:build, needs code review

#6534 fix: restore `files-wanted` argument of `torrent-set`
  libtransmission/rpcimpl.cc
Labels: scope:core, type:fix, notes:none

#6544 Use semi-transparent color for inactive torrents
  qt/TorrentDelegate.cc
  qt/TorrentDelegateMin.cc
Labels: scope:qt, type:fix, type:ui, semver:minor

#6525 feat: do separate IPv4 and IPv6 port checks in Qt and GTK Client
  docs/rpc-spec.md
  gtk/PrefsDialog.cc
  gtk/Session.cc
  gtk/Session.h
  gtk/ui/gtk3/PrefsDialog.ui
  gtk/ui/gtk4/PrefsDialog.ui
  libtransmission/rpcimpl.cc
  qt/PrefsDialog.cc
  qt/PrefsDialog.h
  qt/PrefsDialog.ui
  qt/Session.cc
  qt/Session.h
Labels: scope:gtk, scope:qt, scope:core, i18n, type:feat, needs code review, semver:minor

#6545 Use native file chooser dialogs (GTK client)
  gtk/Application.cc
  gtk/MessageLogWindow.cc
  gtk/OptionsDialog.cc
  gtk/OptionsDialog.h
  gtk/PathButton.cc
Labels: scope:gtk, type:feat, semver:minor

#6542 perf: prefer small containers
  gtk/.clang-format
  gtk/Application.cc
  gtk/MessageLogWindow.cc
  gtk/TorrentFilter.cc
  gtk/TorrentSorter.cc
  libtransmission/log.cc
  libtransmission/peer-mgr-wishlist.cc
  libtransmission/torrents.cc
  libtransmission/utils.cc
  qt/FileTreeItem.cc
  qt/FileTreeModel.cc
  qt/FilterBar.cc
  qt/FilterBar.h
  qt/OptionsDialog.h
  qt/Prefs.cc
  qt/Prefs.h
Labels: scope:qt, scope:core, type:perf

#6523 only use a single concurrent queue for timeMachineExclude instead of one queue per torrent
  macosx/Controller.mm
  macosx/CreatorWindowController.mm
  macosx/Torrent.mm
  macosx/TrackerCell.mm
Labels: scope:mac, bug:regression
