Repository transmission/transmission, pull requests merged in 2025-01, with the labels that each got.

#7408 test(dht): use static IP address
  tests/libtransmission/dht-test.cc
Labels: type:fix, scope:test, notes:none

#7416 fix: crashes related to curl gh10936
  libtransmission/web.cc
Labels: scope:core, type:fix

#7387 Update rpc-spec.md
  docs/rpc-spec.md
Labels: type:docs
